@model DL.MusicStore.Web.Mvc.Areas.Admin.Models.Artist.CreateArtistViewModel
@{
    ViewBag.Title = "Create Artist";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    Create New Style
</h2>
<div class="card card-block">
    @using (Html.BeginForm("create", "artist", new { area = "admin" },
        FormMethod.Post, new { @class = "form-create" }))
    {
        <div class="form-group">
            @Html.LabelFor(m => m.ArtistName)
            @Html.TextBoxFor(m => m.ArtistName, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-success">
            Create
        </button>
        <a href="@Url.Action("index", "artist", new { area = "admin" })" class="btn btn-secondary">
            Cancel
        </a>
    }
</div>

