@model DL.MusicStore.Web.Mvc.Areas.Admin.Models.AlbumStyle.EditAlbumStyleViewModel
@{
    ViewBag.Title = "Edit Album Style";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>
    Edit Album Style
</h2>
<div class="card card-block">
    @using (Html.BeginForm("edit", "albumStyle", new { area = "admin" },
        FormMethod.Post, new { @class = "form-edit" }))
    {
        @Html.HiddenFor(m => m.AlbumStyleId)
        
        <div class="form-group">
            @Html.LabelFor(m => m.AlbumStyleName)
            @Html.TextBoxFor(m => m.AlbumStyleName, new { @class = "form-control" })
        </div>

        <button type="submit" class="btn btn-info">
            Update
        </button>
        <a href="@Url.Action("index", "albumStyle", new { area = "admin" })" class="btn btn-secondary">
            Cancel
        </a>
    }
</div>

