<div class="sidebar-branding">
    <h5 class="text-xs-center">DL Music Store</h5>
</div>
<div class="sidebar-user-profile">
    <img class="img-fluid img-circle"
         src="~/Content/assets/images/avatar.png" />
</div>
<div class="sidebar-menu-items">
    <ul class="nav nav-pills nav-stacked">
        <li class="nav-item">
            <a href="@Url.Action("index", "dashboard", new { area = "admin" })"
               class="nav-link">
                Dashboard
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Products</a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link">Orders</a>
        </li>
        <li class="nav-item">
            <a href="@Url.Action("index", "albumstyle", new { area = "admin" })"
               class="nav-link">
                Album Styles
            </a>
        </li>
    </ul>
</div>
